<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
    <div class="container">
      <a class="navbar-brand" href="{{ '/' | relative_url }}">
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.last_name }}
      </a>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          {% assign sorted_pages = site.pages | sort: "nav_order" %}
          {% for p in sorted_pages %}
            {% if p.nav %}
              <li class="nav-item {% if page.url == p.url %}active{% endif %}">
                <a class="nav-link" href="{{ p.url | relative_url }}">
                  {{ p.title }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</header>
